
@{
    ViewBag.Title = "PatientEditAssesment";
}


<div id="editform">


</div>



<script>

  var apiurl = "@System.Configuration.ConfigurationManager.AppSettings["url"]";

    function EditAssessment(id) {


           $.ajax({
            type: 'GET',
             url: apiurl+'api/IsInitialAnalysized',


                   data: {




                       id: id
                },
                headers: {
                    'Content-Type': 'application/json',
                  'Access-Control-Allow-Origin': apiurl,
                    'Authorization': 'Bearer  @Request.Cookies["Token"].Value.ToString()'

                }


           }).done(function (res) {


            if (res.status == 'success') {

                var data = JSON.parse(res.object);


                var html = `
<form >


<input type="hidden" name="ID" value="`+ data[0].PkID +`" id="IDD" />

    <input type="hidden" name="Pid" value="`+ data[0].Pid +`" />

    <div class="form-group">
        <label>Presenting Complaint</label>
        <input type="text" class="form-control" name="Present_Complaint" value="`+ data[0].Present_Complaint +`"  placeholder="Present Complaint" id="Present_Complaint">
    </div>
    <div class="form-group">
        <label>History of Presenting Complaints</label>
        <input type="text" class="form-control" name="History_of_Presenting_Complaint"  value="`+ data[0].History_of_Presenting_Complaint +`"  placeholder="History of Presenting Complaint" id="History_of_Presenting_Complaint">
    </div>


 <div class="form-group">
        <label>Current Medication</label>
        <input type="text" class="form-control" name="Current_Medication" value="`+ data[0].Current_Medication +`" placeholder="Current Medication" id="Current_Medication">
    </div>


    <div class="form-group">
        <label>Past Psychiatric History</label>
        <input type="text" class="form-control" name="Past_psychiatric_history" value="`+ data[0].Past_psychiatric_history +`" placeholder="Past Psychiatric History" id="Past_Psychiatric_History">
    </div>
   

    <div class="form-group">
        <label>Medical & Surgical History</label>

        <textarea class="form-control" name="Physical_History" id="Physical_History"   rows="3">` + data[0].Physical_History+` </textarea>
    </div>



    <div class="form-group">
        <label>Family History & Family Structure</label>

        <textarea class="form-control" name="Family_History" id="Family_History"    rows="3">`+ data[0].Family_History +`</textarea>

    </div>


<div class="form-group">
        <label>Family Dynamics</label>

        <textarea class="form-control" name="FamilyDynamics" id="FamilyDynamics"    rows="3">`+ data[0].FamilyDynamics +`</textarea>
    </div>



<div class="form-group">
        <label>Personal History Birth & Early Childhood</label>

        <textarea class="form-control" name="Personal_History" id="Personal_History"    rows="3">`+ data[0].Personal_History +`</textarea>
    </div>



    <div class="form-group">
        <label>Education History</label>
        <input type="text" class="form-control" name="schooling" placeholder="schooling" value="`+ data[0].schooling +`"  id="schooling">
    </div>




    <div class="form-group">
        <label>Adolesence</label>
        <input type="text" class="form-control" value="`+ data[0].Adolesence +` "name="Adolesence" placeholder="Adolesence" id="Adolesence">
    </div>


 <div class="form-group">
        <label>Occupation History</label>
        <input type="text" class="form-control" value="`+ data[0].occupation +` "name="occupation" placeholder="occupation" id="occupation">
    </div>


 <div class="form-group">
        <label>RelationShip History</label>
        <input type="text" class="form-control" value="`+ data[0].relationship +` "name="relationship" placeholder="relationship" id="relationship">
    </div>


 <div class="form-group">
        <label>If Female, Menstrual History</label>
        <input type="text" class="form-control" value="`+ data[0].menstrual +` "name="menstrual" placeholder="menstrual" id="menstrual">
    </div>



    <div class="form-group">
        <label>Maritial Status</label>

        <select id="Maritial_Status" >

            <option class="form-control" value="Single">Single</option>
            <option class="form-control" value="Married">Married</option>
            <option class="form-control" value="Divorced">Divorced</option>

        </select>

    </div>


<div class="form-group">
        <label>Merital History</label>
        <input type="text" class="form-control" value="`+ data[0].meritalhistory +` "name="meritalhistory" placeholder="meritalhistory" id="meritalhistory">
    </div>


<div class="form-group">
        <label>Forensic History</label>
        <input type="text" class="form-control" value="`+ data[0].forensic +` "name="forensic" placeholder="forensic" id="forensic">
    </div>



    <div class="form-group">
        <label>Premorbid personality</label>
        <input type="text" class="form-control" name="Premorbid_personality" value="`+ data[0].Premorbid_personality +`" placeholder="Premorbid personality" id="Premorbid_personality">
    </div>




    <div class="form-group">
        <label>Alcohal/Substance Use History</label>
        <input type="text" class="form-control" name="AlcohalSubstance_abuse"  value="`+ data[0].Alcohal_Substance_abuse +`" placeholder="Alcohal / Substance abuse" id="Alcohal">
    </div>



    <div class="form-group">
        <label>Mental State Examination</label>
        <input type="text" class="form-control" name="Mental_State_Examination"  value="`+ data[0].Mental_State_Examination +`" placeholder="Mental State Examination" id="Mental_State_Examination">
    </div>


    <div class="form-group">
        <label>Appearance & Behavior</label>
        <input type="text" class="form-control" name="Appearance_and_Behavior"  value="`+ data[0].Appearance_and_Behavior +`" placeholder="Appearance and Behavior" id="Appearance_and_Behavior">
    </div>


    <div class="form-group">
        <label>Speech</label>
        <input type="text" class="form-control" name="Speech"  value="`+ data[0].Speech +`" placeholder="Speech" id="Speech">
    </div>



    <div class="form-group">
        <label>Mood & Affect</label>
        <input type="text" class="form-control" name="Mood_and_Affect" value="`+ data[0].Mood_and_Affect +`" placeholder="Mood and Affect" id="Mood_and_Affect">
    </div>



    <div class="form-group">
        <label>Suicidal Ideas</label>
        <input type="text" class="form-control" name="Sucidial_ideations"  value="`+ data[0].Sucidial_ideations +`" placeholder="Sucidial ideations" id="Sucidial_ideations">
    </div>




    <div class="form-group">
        <label>Thought Form</label>
        <input type="text" class="form-control" name="Thoughts"  value="`+ data[0].Thoughts +`" placeholder="Thoughts" id="Thoughts">
    </div>


<div class="form-group">
        <label>Thought Content</label>
        <input type="text" class="form-control" name="ThoughtContent"  value="`+ data[0].ThoughtContent +`" placeholder="ThoughtContent" id="ThoughtContent">
    </div>




    <div class="form-group">
        <label>Perception Disorder</label>
        <input type="text" class="form-control" name="Delusions" value="`+ data[0].Delusions +`" placeholder="Delusions" id="Delusions">
    </div>
   

    <div class="form-group">
        <label>Insight</label>
        <input type="text" class="form-control" name="Insight" value="`+ data[0].Insight +`" placeholder="Insight" id="Insight">
    </div>



    <div class="form-group">
        <label>Cognitive Function</label>
        <input type="text" class="form-control" name="Cognitions" value="`+ data[0].Cognitions +`" placeholder="Cognitions" id="Cognitions">
    </div>

    <div class="form-group">
        <label>Provisional Diagnosis</label>
        <input type="text" class="form-control" name="Provisional_Diagnosis" value="`+ data[0].Provisional_Diagnosis +`"  placeholder="Provisional Diagnosis" id="Provisional_Diagnosis">
    </div>

    <div class="form-group">
        <label>Differential Diagnosis</label>
        <input type="text" class="form-control" name="differential_diagnosis"   value="`+ data[0].differential_diagnosis +`" placeholder="differential diagnosis" id="differential_diagnosis">
    </div>

 <div class="form-group">
        <label>Management Plan</label>
        <input type="text" class="form-control" name="hallucinations"  value="`+ data[0].hallucinations +`" placeholder="Hallucinations" id="hallucinations">
    </div>


    <button type="button" id="submitbtn" class="btn btn-primary">Submit</button>
</form>

`;


                $("#editform").append(html);


            }
            else {

                alert(res.message);


            }


            })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {

                    if (XMLHttpRequest.status==403) {
                        window.location.href = '~/Account/Login'
                    }

                    if (XMLHttpRequest.status == 401) {
                        window.location.href = '/Account/Login'
                    }

                    console.log("fail");


                })








    }


    var id = "";
    $(document).ready(function () {


        var a = getQueryVariable("id");

        if (a != "undefined" && a != null) {


            EditAssessment(a);
        }

        else {

            window.location.href = "/Patient/PatientAppointedList";

        }

    });

    $(document).on("click","#submitbtn",function () {


        var IDD = $("#IDD").val();
        var Present_Complaint = $("#Present_Complaint").val();
        var History_of_Presenting_Complaint = $("#History_of_Presenting_Complaint").val();
        var Past_Psychiatric_History = $("#Past_Psychiatric_History").val();
        var Current_Medication = $("#Current_Medication").val();
        var Physical_History = $("#Physical_History").val();
        var Family_History = $("#Family_History").val();
        var schooling = $("#schooling").val();
        var Maritial_Status = $("#Maritial_Status").val();
        var Adolesence = $("#Adolesence").val();
        var Alcohal = $("#Alcohal").val();
        var Premorbid_personality = $("#Premorbid_personality").val();
        var Mental_State_Examination = $("#Mental_State_Examination").val();
        var Appearance_and_Behavior = $("#Appearance_and_Behavior").val();
        var Speech = $("#Speech").val();
        var Mood_and_Affect = $("#Mood_and_Affect").val();
        var Sucidial_ideations = $("#Sucidial_ideations").val();
        var Thoughts = $("#Thoughts").val();

        var Delusions = $("#Delusions").val();

        var hallucinations = $("#hallucinations").val();

        var Insight = $("#Insight").val();

        var Cognitions = $("#Cognitions").val();

        var Provisional_Diagnosis = $("#Provisional_Diagnosis").val();


        var differential_diagnosis = $("#differential_diagnosis").val();



        var FamilyDynamics = $("#FamilyDynamics").val();
        var Personal_History = $("#Personal_History").val();
        var occupation = $("#occupation").val();
        var relationship = $("#relationship").val();
        var menstrual = $("#menstrual").val();
        var meritalhistory = $("#meritalhistory");
        var forensic = $("#forensic");
        var ThoughtContent = $("#ThoughtContent");





        $.ajax({

          type: "POST",
          url: apiurl+'api/UpdateInitialAnalysiz',
            data: JSON.stringify({
                ID: IDD,

                Pid: id,
                Present_Complaint:Present_Complaint,
                History_of_Presenting_Complaint: History_of_Presenting_Complaint,
                Past_Psychiatric_History: Past_Psychiatric_History,
                Current_Medication: Current_Medication,
                Physical_History: Physical_History,
                Family_History: Family_History,
                schooling: schooling,
                Maritial_Status: Maritial_Status,
                Adolesence: Adolesence,
                AlcohalSubstance_abuse: Alcohal,
                Premorbid_personality: Premorbid_personality,
                Mental_State_Examination: Mental_State_Examination,
                Appearance_and_Behavior: Appearance_and_Behavior,

                Speech: Speech,

                Mood_and_Affect: Mood_and_Affect,


                Sucidial_ideations: Sucidial_ideations,

                Thoughts: Thoughts,

                Delusions: Delusions,

                hallucinations: hallucinations,
                Insight: Insight,
                Cognitions: Cognitions,

                Provisional_Diagnosis: Provisional_Diagnosis,
                differential_diagnosis: differential_diagnosis,


                FamilyDynamics: FamilyDynamics,
                Personal_History: Personal_History,
                occupation: occupation,
                relationship: relationship,
                menstrual: menstrual,
                meritalhistory: meritalhistory,
                forensic: forensic,
                ThoughtContent: ThoughtContent




            }),
            headers: {
                    'Content-Type': 'application/json',
              'Access-Control-Allow-Origin': apiurl,
                    'Authorization': 'Bearer  @Request.Cookies["Token"].Value.ToString()'

                }




        }).done(function (res) {


            if (res.status == 'success') {

                alert('Updated');



                window.location.href = "/Patient/PatientAppointedList";


            }
            else {
                alert(res.message);

            }


        })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {

                if (XMLHttpRequest.status == 403) {
                    window.location.href = '~/Account/Login'
                }

                if (XMLHttpRequest.status == 401) {
                    window.location.href = '/Account/Login'
                }

                console.log("fail");


            })






    })


    function getQueryVariable(variable) {

        var query = window.location.search.substring(1);
        var vars = query.split("?");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
    }



</script>
