
@{
    ViewBag.Title = "Registration";
}




<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>


                    <div class="form-group">
                        <label for="username"><span class="req">* </span> Patient  name:  </label>
                        <input class="form-control" type="text" name="username" id="username" placeholder="Uasername" required onkeypress="return ignoreSpaces(event)" />
                        <div id="errLast"></div>
                    </div>
                    <div class="form-group">
                        <label for="email"><span class="req">* </span> Patient Email Address: </label>
                        <input class="form-control" required type="email" name="email" id="email" onchange="email_validate(this.value)" ; />
                        <div class="status" id="status"></div>
                    </div>




                    <div class="form-group">
                        <label for="phonenumber"><span class="req">* </span> Phone Number: </label>
                        <input required type="text" name="phonenumber" id="phone" class="form-control phone" maxlength="28" onkeyup="validatephone(this);" placeholder="Phone No:" />
                    </div>


                    <div class="form-group">
                        <label for="Mobilenumber"><span class="req">* </span> Mobile Number: </label>
                        <input required type="text" name="Mobilenumber" id="Mobile" class="form-control phone" maxlength="28" onkeyup="validatephone(this);" placeholder="Mobile No:" />
                    </div>



                    <div class="form-group">
                        <label for="Address"><span class="req">* </span> Patient  Address:  </label>
                        <br />
                        <textarea rows="4" cols="74" id="Address"></textarea>

                    </div>


                    <div class="form-group">
                        <label for="CNIC"><span class="req">* </span> CNIC: </label>
                        <input class="form-control" required type="text" name="CNIC" id="CNIC" />

                    </div>

                    <div class="form-group">
                        <label for="DateOFBirth"><span class="req">* </span> Date OF Birth: </label>
                        <input class="form-control" required type="date" name="DateOFBirth" id="DateOFBirth" />

                    </div>



                    <div class="form-group">
                        <label for="gender"><span class="req">* </span> Gender: </label>
                        <select class="form-control" id="gender">
                            <option value="-1">Please Select the Gender </option>
                            <option value="Male">Male </option>
                            <option value="Female">Female </option>
                            <option value="other">Other </option>

                        </select>

                    </div>

                    @*<div class="form-group  ">
                            <label for="ImageUpload">Upload Douments</label><br>
                            <input type="file" class="" id="ImageUpload" name="img" multiple>
                        </div>*@



                    <div class="form-group">
                        <label for="PalceOFBirth"><span class="req">* </span> Palce OF Birth: </label>

                        <select name="PCId" id="PCId" class="form-control">
                        </select>

                    </div>




                    <div class="form-group">
                        <label for="City"><span class="req">* </span> Patient  City </label>

                        <select name="CId" id="CId" class="form-control">
                        </select>

                    </div>








                    <div class="form-group">
                        <label for="Address"><span class="req">* </span> Remarks:  </label>
                        <br />
                        <textarea rows="4" cols="40" id="Comment"></textarea>

                    </div>






                    <div class="form-group">

                        <button type="button" class="btn btn-success has-spinner" id="Register">Register</button>


                        <button class=" btn-secondary" type="button" id="cancelbtn">Cancel</button>
                    </div>





                </fieldset>
            </form><!-- ends register form -->

        </div><!-- ends col-6 -->


    </div>
</div>








<script>

  var apiurl = "@System.Configuration.ConfigurationManager.AppSettings["url"]";

        $(document).ready(function () {


            getallcities();


        });




        //$('#ImageUpload').change(function (event) {
        //    var tmppath = URL.createObjectURL(event.target.files[0]);
        //    $("img").fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));

        //});



  function getallcities() {

            $.ajax({

              type: 'GET',
              url: apiurl+'api/getallcities',

                headers: {
                    'Content-Type': 'application/json',
                  'Access-Control-Allow-Origin': apiurl


                }


            }).done(function (res) {


                var data = JSON.parse(res.object);

                var html = '';


                $.each(data, function (i, val) {
                    html += `<option value= ` + data[i].CityID + `>` + data[i].City_Name + `</option>`

                });
              $('#CId').empty();
              $('#PCId').empty();

                $('#CId').append(html);
                $('#PCId').append(html);


            })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("fail");
                })


        }



        // validate email
        function email_validate(email) {
            var regMail = /^([_a-zA-Z0-9-]+)(\.[_a-zA-Z0-9-]+)*@@([a-zA-Z0-9-]+\.)+([a-zA-Z]{2,3})$/;

            if (regMail.test(email) == false) {
                document.getElementById("status").innerHTML = "<span class='warning'>Email address is not valid yet.</span>";
            }
            else {
                document.getElementById("status").innerHTML = "<span class='valid'>Thanks, you have entered a valid Email address!</span>";
            }
        }



        function checkPass() {
            //Store the password field objects into variables ...
            var pass1 = document.getElementById('pass1');
            var pass2 = document.getElementById('pass2');
            //Store the Confimation Message Object ...
            var message = document.getElementById('confirmMessage');
            //Set the colors we will be using ...
            var goodColor = "#66cc66";
            var badColor = "#ff6666";
            //Compare the values in the password field
            //and the confirmation field
            if (pass1.value == pass2.value) {
                //The passwords match.
                //Set the color to the good color and inform
                //the user that they have entered the correct password
                pass2.style.backgroundColor = goodColor;
                message.style.color = goodColor;
                message.innerHTML = "Passwords Match"
            } else {
                //The passwords do not match.
                //Set the color to the bad color and
                //notify the user.
                pass2.style.backgroundColor = badColor;
                message.style.color = badColor;
                message.innerHTML = "Passwords Do Not Match!"
            }
        }

        function validatephone(phone) {
            var maintainplus = '';
            var numval = phone.value
            if (numval.charAt(0) == '+') {
                var maintainplus = '';
            }
            curphonevar = numval.replace(/[\\A-Za-z!"£$%^&\,*+_={};:'@@#~,.Š\/<>?|`¬\]\[]/g, '');
            phone.value = maintainplus + curphonevar;
            var maintainplus = '';
            phone.focus;
        }

    function ignoreSpaces(event) {
        var character = event ? event.which : window.event.keyCode;
        if (character == 32) return false;
    }


        var username        = "";
        var email           = "";
        var phone           = "";
        var mobile          = "";
        var address         = "";
        var cinic           = "";
        var dataofbirth     = "";
        var gender          = "";
       // var doc             = "";
        var city            = "";
        var place_of_Birth = "";
        var age = "";
        var Patient_Maritalstatus = "";
  var Edu = "";
  var Comment = "";



        var base64stringform =[];



        $("#ImageUpload").change(function () {
            fasterPreview(this, "Document");


        });




        $('#Register').click(function () {


            if ($('#username').val() == '') {
                isAllOkay = false;

                alert('username is  Mandatory!');
                return;
            }


            //if ($('#email').val() == '') {
            //    isAllOkay = false;
            //    alert('email number is  Mandatory!');
            //    return;
            //}



            //if ($('#phone').val() == '') {
            //    isAllOkay = false;
            //    alert('Phone number is  Mandatory!');
            //    return;
            //}

            // kahan change kya hay ap nay 
            //if ($('#DateOFBirth').val() == '') {
            //    isAllOkay = false;
            //    alert('DateOFBirth is  Mandatory!');
            //    return;
            //}


            //if ($('#Mobile').val() == '') {
            //    isAllOkay = false;
            //    alert('Mobile number is  Mandatory!');
            //    return;
            //}


            //if ($('#Address').val() == '') {
            //    isAllOkay = false;
            //    alert('Address number is  Mandatory!');
            //    return;
            //}



            //if ($('#Education').val() == '') {
            //    isAllOkay = false;
            //    alert('Education  is  Mandatory!');
            //    return;
            //}


            //if ($('#gender').val() == -1) {
            //    isAllOkay = false;
            //    alert('please select the gender');
            //    return;
            //}





            //if ($('#PCId').val() == '') {
            //    isAllOkay = false;
            //    alert(' Palce  of is  Mandatory!');
            //    return;
            //}



            //if ($('#CNIC').val() == '') {
            //    isAllOkay = false;
            //    alert('CNIC  is  Mandatory!');
            //    return;
            //}



            if ($('#CId').val() == '') {
                isAllOkay = false;
                alert('City  is  Mandatory!');
                return;
            }


            //if ($('#p_age').val() == '') {
            //    isAllOkay = false;
            //    alert('Age  is  Mandatory!');
            //    return;
            //}


            //if ($('#Maritalstatus').val() == '') {
            //    isAllOkay = false;
            //    alert('Marital Status  is  Mandatory!');
            //    return;
            //}

            register();


        })



        function register() {




            cleardatavariables();

            var btn = $('.has-spinner');
            $(btn).buttonLoader('start');


            username = $('#username').val();
           email =      $('#email').val();
            phone =     $('#phone').val();
            mobile =    $('#Mobile').val();
            address =    $('#Address').val();
            cinic =      $('#CNIC').val();;
            dataofbirth =  $('#DateOFBirth').val();
            gender =       $('#gender').val();

            city =          $('#CId').val();
            place_of_Birth = $('#PCId').val();
          age = $('#p_age').val();
          Comment = $("#Comment").val();

            $("#imgeloderPatient").show();



            $.ajax({

              type: 'POST',
              url: apiurl + 'api/PatientRegistration',
                data: JSON.stringify({

                    Patient_Name: username,
                    Patient_Email: email,
                    Patient_Phone_Number: phone,
                    Patient_Mobile_Number: mobile,
                    CNIC: cinic,
                    DateOfBirth: dataofbirth,
                    Patient_Gender: gender,
                    Patient_Address: address,
                    Place_Of_Birth: place_of_Birth,
                    ImageBase64: base64stringform,
                  CityID: city,
                  Comment: Comment
                }),
                headers: {
                  'Content-Type': 'application/json',
                  'Access-Control-Allow-Origin': apiurl,
                    'Authorization': 'Bearer  @Request.Cookies["Token"].Value.ToString()'

                }


            }).done(function (res) {

                if (res.status == 'success') {

                    $("#imgeloderPatient").hide();
                    alert('registered');
                    base64stringform = [];
                    //ClearFromFileds();
                    //$("#actioncontainer").html("");
                    //setTimeout(function () {
                    //    $(btn).buttonLoader('stop');
                    //}, 3000);
                    window.location.reload();

                }
                else {
                    alert(res.message);

                }


            })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {


                    if (XMLHttpRequest.status==403) {
                        window.location.href = '~/Account/Login'
                    }

                    if (XMLHttpRequest.status == 401) {
                        window.location.href = '/Account/Login'
                    }

                    console.log("fail");


                })







        }

        function ClearFromFileds() {

            $('#username').val('');
            $('#email').val('');
            $('#phone').val('');
            $('#Mobile').val('');
            $('#Address').val('');
            $('#CNIC').val('');
             $('#DateOFBirth').val('');
            $('#gender').val('');

            $('#CId').val('');
            $('#PCId').val('');
          $('#p_age').val('');

            $('#Maritalstatus').val('');
          $('#Education').val('');
          $("#Comment").val('');


        }

        function cleardatavariables() {


            username = "";
             email = "";
             phone = "";
             mobile = "";
             address = "";
             cinic = "";
            dataofbirth = "";
             gender = "";
             doc = "";
             city = "";
            place_of_Birth = "";
            age = "";

            Patient_Maritalstatus = "";
          Edu = "";
          Comment = "";

        }



</script>




