<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Synapse</title>

    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">



    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg==" crossorigin="anonymous" />
    <link href="~/dist/css/buttonLoader.css" rel="stylesheet" />
    <!-- jQuery -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet" />

    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/plugins/jquery-ui/jquery-ui.structure.css" rel="stylesheet" />
    <link href="~/plugins/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/RichText/jquery-te-1.4.0.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script src="~/plugins/jquery-ui/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous"></script>

    <script src="~/Content/datepicker.js"></script>
    <script src="~/plugins/select2/js/select2.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="~/dist/js/demo.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/jsPDF-1.3.2/dist/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
    <!-- PAGE ~/plugins -->
    <!-- jQuery Mapael -->
    <script src="~/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>

    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- fullCalendar -->
    <link rel="stylesheet" href="~/plugins/fullcalendar/main.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">





</head>
<body class="layout-navbar-fixed layout-footer-fixed sidebar-mini layout-fixed" id="bodytocheckclass">


    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button" id="pushmenudash"><i class="fas fa-bars"></i></a>
                </li>

            </ul>

            <!-- SEARCH FORM -->
            <!-- Right navbar links -->

        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Synapse</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">

                        <img src="~/Content/Clinic2Logo.jpeg" style="width:60px;" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info" style="display:flex;align-items:center">
                        <a href="#" class="d-block">  @Request.Cookies["Name"].Value.ToString() </a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open" style="display:none">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="./index.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Dashboard v1</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="./index2.html" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Dashboard </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="./index3.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Dashboard v3</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/Dashboard/Dashboard" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Dashboard

                                </p>
                            </a>
                        </li>



                        @if ((Request.Cookies["Role"].Value.ToString().Contains("Admin") || Request.Cookies["Role"].Value.ToString().Contains("Assistant")))
                        {

                    <li class="nav-item has-treeview">
                        <a href="/Patient/Patients" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>
                                Patients

                            </p>
                        </a>

                    </li>
                    }



                        @if (Request.Cookies["Role"].Value.ToString().Contains("Doctor"))
                        {

                    <li class="nav-item">
                        <a href="~/Appointment/DoctorAppointments" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Patient Appointment

                            </p>
                        </a>
                    </li>
                                    <li class="nav-item">
                                        <a href="~/Dashboard/CompletedAppointmentsByDoctor" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Complete Appointments</p>
                                        </a>
                                    </li>


                                                    <li class="nav-item">
                                                        <a href="~/Dashboard/DoctorAppointmentShedule" class="nav-link">
                                                            <i class="far fa-circle nav-icon"></i>
                                                            <p>Doctor Appointment Schedule</p>
                                                        </a>
                                                    </li> } 
                        
                        
                        @*Complete appointment*@


                        @if ((Request.Cookies["Role"].Value.ToString().Contains("Admin") || Request.Cookies["Role"].Value.ToString().Contains("Assistant")))
                        {

                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-hospital-user"></i>
                            <p>
                                Appointments
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/Appointment/Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Upcoming Appointments</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Patient/completedAppointments" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Complete Appointments</p>
                                </a>
                            </li>
                        </ul>
                    </li>}

                        @if ((Request.Cookies["Role"].Value.ToString().Contains("Admin") || Request.Cookies["Role"].Value.ToString().Contains("Assistant")))
                        {


                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-tree"></i>
                            <p>
                                Administration
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>


                        <ul class="nav nav-treeview">
                            @*<li class="nav-item">
                <a href="~/Dashboard/Referral" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Referral</p>
                </a>
            </li>*@
                            <li class="nav-item">
                                <a href="~/Dashboard/Expenses" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Expenses</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="~/Dashboard/City" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>City</p>
                                </a>
                            </li>


                            <li class="nav-item">
                                <a href="~/Account/GETALLUser" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>User</p>
                                </a>
                            </li>

                        </ul>
                    </li>
}





                        <li class="nav-item  m-3">
                            <form method="post" action="~/Account/Logout">


                                <button class="btn  btn-danger">Logout</button>


                            </form>

                        </li>


                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Synapse</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.0.4
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- DataTables -->

    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- page script -->

    <script src="~/Scripts/jquery.buttonLoader.min.js"></script>

    <script>

        $(document).ready(function () {

      if ('@Request.Cookies["Role"]' == null) {
                    window.location.href = "/Account/Login";
                  }
    })

    </script>


</body>

</html>



